.header {
  width: 100vw;
  height: 20vh;
  background: #E43F6F;
  display: fixed;
}
body {
  background: #B7245C
}
.description-container {
  width: 50vw;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 3em;
  font-size: 2em;
  font-family: 'Titillium Web', sans-serif;
  color: black;
  margin-top: 10vh;
}
.isolate-one {
  color: white;
  font-weight: bolder;
}
.description-box {
  width: 60vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  background: #F56476;
}
.search-container {
  margin-top: 10px;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.search-field {
  width: 48vw;
  height: 2vh;
  border-radius: 5px;
  margin-left: 1vw;
}
.search-submit {
  margin-left: 1vw;
  width: 4vw;
  height: 2vh;
  border-radius: 5px;
  margin-right: 6px;
}
.card-area {
  margin-top: 20vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.issue-card {
  height: 60vh;
  width: 30vw;
  background: white;
  text-align: center;
  margin-bottom: 10vh;
  border-radius: 15px;
}
